.dd-avatar{
	width: 100%;
	min-height: 250px;
	/*background-color: red;*/
	/*margin-bottom: 15px;*/
	border: 1px solid #ddd;
}
.dd-main-image{
	border: 1px solid #ddd;
	width: 100%;
	min-height: 150px;
}
.dd-b-line{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px !important;
}
.dd-title{
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.label-desc p{
	text-align: right;
}
.label-desc label{
	margin-top: 0px !important; 
	margin-bottom: 0px;
	text-align: right;
}
.m-b-10-i{
	margin-bottom: 10px !important;
}
.m-b-15-i{
	margin-bottom: 15px !important;
}
.m-b-20-i{
	margin-bottom: 20px !important;
}
.form-dd{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dd-group{
	
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}