.main-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4
}

.main-header .container {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.main-header .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2
}

.logo-header {
	position: relative;
	z-index: 10;
	display: block;
	width: 70px;
	height: 40px;
	margin: 2em 0;
	background-image: url(../images/logo_pigijo_white.svg);
	background-size: contain;
	background-repeat: no-repeat
}

.user-header {
	position: relative;
	margin-left: 2em
}

.user-header .link {
	color: #fff !important;
	font-weight: normal
}

.user-header .link:after {
	background-color: #fff
}

.user-header .user-avatar .box-img {
	margin: 0
}

.user-header .dropdown-menu {
	min-width: 180px
}

.user-header .amount {
	position: absolute;
	display: block;
	right: 0;
	top: 4px;
	font-size: .6em;
	width: 18px;
	height: 18px;
	line-height: 16px;
	border-radius: 50%;
	text-align: center;
	background-color: #e17306;
	color: #fff
}

.user-header .user-email {
	font-size: .86em;
	color: rgba(255, 255, 255, .5)
}

/*====================*/
.lang-header {
	position: relative;
	margin-left: auto
}

.lang-header .lang-toggle {
	font-weight: normal;
	color: #fff
}

.lang-header .lang-toggle:after {
	content: "\e64b";
	font-family: "themify";
	font-size: .714em;
	margin-left: 1em
}

/*====================*/
.toggle-menu-wrapper {
	position: relative;
	z-index: 10;
	margin-left: 8%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	cursor: pointer
}

.toggle-menu-wrapper .label-menu {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 14px;
	line-height: 1em;
	vertical-align: middle;
	font-weight: normal;
	margin-right: 1em;
	color: #fff;
	transition: color .4s cubic-bezier(.4, 0, .2, 1);
	transition-delay: .4s
}

.toggle-menu-wrapper .label-menu:before,
.toggle-menu-wrapper .label-menu:after {
	content: "";
	display: block;
	width: 40px;
	height: 1em;
	line-height: 1em;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.active-menu .toggle-menu-wrapper .label-menu:before,
.active-menu .toggle-menu-wrapper .label-menu:after {
	transform: translateY(-100%)
}

.toggle-menu-wrapper .label-menu:before {
	content: "Menu"
}
.toggle-menu-wrapper .label-menu:after {
	content: "Close"
}

#home .toggle-menu-wrapper .label-menu,
.active-menu .toggle-menu-wrapper .label-menu {
	color: #fff;
	transition-delay: .15s
}

.toggle-menu {
	width: 26px;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.toggle-menu-icon span {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform .4s cubic-bezier(.19, 1, .22, 1),
				opacity .4s cubic-bezier(.19, 1, .22, 1),
				background-color .4s cubic-bezier(.19, 1, .22, 1),
				width .4s cubic-bezier(.19, 1, .22, 1);
	transition-delay: .4s
}

#home .toggle-menu-icon span,
.active-menu .toggle-menu-icon span {
	background-color: #fff
}

.toggle-menu-icon span + span {
    margin-top: 6px
}

.toggle-menu-icon span:nth-child(1) {
	width: 80%
}

.toggle-menu-icon span:nth-child(3) {
	width: 60%
}

.active-menu .toggle-menu-icon span {
	width: 100%;
	transition-delay: .2s
}

.active-menu .toggle-menu {
	transform: rotate(180deg)
}

.active-menu .toggle-menu-icon span:first-child {
    transform: translate3d(0,7px,0) rotate3d(0,0,1,45deg);
    -webkit-transform: translate3d(0,7px,0) rotate3d(0,0,1,45deg)
}

.active-menu .toggle-menu-icon span:nth-child(2) {
    opacity: 0
}

.active-menu .toggle-menu-icon span:last-child {
    transform: translate3d(0,-7px,0) rotate3d(0,0,1,-45deg);
    -webkit-transform: translate3d(0,-7px,0) rotate3d(0,0,1,-45deg)
}

/*====================*/
.nav-header {
    position: absolute;
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 4em;
    visibility: hidden;
    transition: visibility .8s;
    z-index: 2
}

.nav-header .container {
	display: block
}

.active-menu .nav-header {
	visibility: visible
}

.nav-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2B2826;
    transform: scaleY(0);
    transform-origin: top;
    z-index: -1;
    transition: transform .6s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .2s
}

.active-menu .nav-header:before {
	transform: scaleY(1);
	transition-delay: 0s
}

.menu-header {
	margin-left: calc(8% + 70px);
	opacity: 0;
	transform: translateY(-25%);
	transition: transform .6s cubic-bezier(.4, 0, .2, 1),
				opacity .6s cubic-bezier(.4, 0, .2, 1);
	transition-delay: 0s
}

.active-menu .menu-header {
	transform: translateY(0);
	opacity: 1;
	transition-delay: .2s
}

.menu {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none
}

.menu li + li {
	margin-top: 1em
}

.menu li a {
	display: inline-block;
	color: #fff;
	font-family: "eina";
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 1px;
	transition: color .4s cubic-bezier(.4, 0, .2, 1),
				transform .25s cubic-bezier(.4, 0, .2, 1)
}

.menu:hover li a {
	color: rgba(255, 255, 255, .35)
}

.menu li a:hover {
	color: #fff;
	transform: translateX(.5em)
}

.menu-header .footer {
	margin-top: 4em;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.menu-header .footer .copyright {
	color: rgba(255, 255, 255, .35)
}

.menu-header .footer .social-icon {
	margin-left: auto
}

/*====================*/
.banner-area {
	position: relative;
	z-index: 2
}

.banner-area,
.banner-area .banner-image,
.banner-area .swiper-container {
	height: 100vh;
	min-height: 720px
}

.banner-image .swiper-slide {
	background-color: #2B2826
}

.banner-image .thumb {
	background-position: center top !important
}

.banner-image .mouse {
	position: absolute;
	bottom: 3em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	width: 30px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 20px
}

.banner-image .mouse:before {
	content: "";
	width: 3px;
	height: 10px;
	background-color: #fff;
	position: absolute;
	top: .714em;
	left: 50%;
	transform: translateX(-50%);
	animation: mouse 1.25s cubic-bezier(.4, 0, .2, 1) infinite
}

@keyframes mouse {
	0% {
		transform: translateX(-50%) translateY(0);
		opacity: 1
	}
	50% {
		transform: translateX(-50%) translateY(100%);
		opacity: 1
	}
	60% {
		transform: translateX(-50%) translateY(100%);
		opacity: 0
	}
	70% {
		transform: translateX(-50%) translateY(0);
		opacity: 0
	}
	100% {
		transform: translateX(-50%) translateY(0);
		opacity: 1
	}
}

.banner-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	background-color: rgba(30, 30, 34, .4);
	-webkit-box-align: center
}

.banner-caption .text-title {
	color: #fff;
	margin: 0;
	font-size: 4em;
	font-weight: 300;
	line-height: 1.2em
}

/*====================*/
.planning-toggle {
	display: none;
}

.close-planning {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.72em 1.25em;
	font-size: 1.25em
}

.planning-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.planning-area .panel {
	position: relative;
	z-index: 4;
	margin: 1em 0 0 1em;
	background-color: rgba(255, 255, 255, .92)
}

.planning-area .panel-body {
	padding: 2em 2.5em 0
}

.planning-area .activity-toggle input {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 40px;
	padding-left: 1em;
	background: #fff url(../images/arrow_bottom.svg) no-repeat right center !important;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none
}

.planning-area .form-group {
	margin-bottom: .86em
}

.reservation-form {
	margin: 0
}

.reservation-form .text-title {
	margin-bottom: 1.2em
}

.reservation-form .trip-date {
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #D8DDE6;
	display: flex;
	display: -webkit-flex;
	margin-bottom: 1em
}

.reservation-form .input-daterange  {
	display: flex;
	display: -webkit-flex;
	margin-right: auto;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	white-space: nowrap
}

.sidebar .reservation-form .input-daterange {
	padding-left: 0
}

.reservation-form .input-daterange .date-wrapper + .date-wrapper:before {
	content: "-"
}

.sidebar .reservation-form .input-daterange .date-wrapper + .date-wrapper:before {
	margin-left: 0
}

.sidebar .input-daterange .form-control {
	width: 80%;
	padding: 0 1.2em
}

.reservation-form .trip-date .form-control {
	border: none;
	background-color: transparent;
	padding-right: 0
}

.reservation-form .trip-date select.form-control {
	min-width: 115px;
	width: auto;
	padding-left: .86em
}

.planning-area .btn-submit {
	margin-top: 1em;
	margin-bottom: -25px
}

.reservation-form .dest-option {
	display: none
}

.reservation-form .dest-option.active {
	display: block
}

.reservation-form .add-more {
	font-weight: 600;
	text-transform: uppercase;
	font-size: .714em;
	letter-spacing: .06em
}

/*====================*/
.home-intro {
	background-color: #fff
}

.home-intro .welcome-text {
	margin-left: 4em
}

.home-intro .welcome-text .link {
	margin-top: 2em
}

.home-intro .intro-bg:after {
	padding-top: 75%
}

.home-intro .intro-bg .thumb {
	background-image: url(../images/mascot01.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center
}

/*====================*/
.home-travel-diary {
	position: relative
}

.home-travel-diary .diary-desc {
	position: relative;
	transform: translateZ(0);
	padding: 8em 0;
	z-index: 2
}

.home-travel-diary .diary-desc:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(43, 40, 38, 1)0%,rgba(43, 40, 38, .8)50%, rgba(43, 40, 38, .2)100%);
	z-index: -1
}

.home-travel-diary .diary-desc .text-label {
	color: #e17306
}

.home-travel-diary .diary-desc .text-title,
.home-travel-diary .diary-desc p {
	color: #fff
}

.home-travel-diary .diary-text {
	margin: 0 0 0 4em
}

.home-travel-diary .diary-desc .link {
	margin-top: 2em
}

.home-travel-diary + .list-article {
	background-color: #EDF0F5;
	position: relative;
	transform: translateZ(0)
}

.home-travel-diary + .list-article:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 64.2%;
	background-color: #2B2826;
	z-index: -1
}

/*====================*/
.single-article {
	position: relative;
	margin-bottom: 2em
}

.single-article .article-img {
	background-color: #2B2826
}

.single-article .article-img .thumb {
	transition: opacity .4s cubic-bezier(.4, 0, .2, 1)
}

.single-article:hover .article-img .thumb {
	opacity: .65
}

.single-article .article-img:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-120%, -50%);
	width: 40px;
	height: 40px;
	background-image: url(../images/arrow_right.svg);
	background-size: contain;
	background-position: center;
	z-index: 2;
	opacity: 0;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1),
				opacity .4s cubic-bezier(.4, 0, .2, 1)
}

.single-article:hover .article-img::before {
	transform: translate(-50%, -50%);
	opacity: 1
}

.single-article .single-desc {
	background-color: #fff;
	padding: 1.5em 2em
}

.single-article .single-title {
	font-size: 1.2em;
	height: 2.7em;
	overflow: hidden;
	margin: .25em 0
}

/*====================*/
.place-list {
	position: relative;
	transform: translateZ(0)
}

.place-list .place-item {
	position: relative;
	transform: translateZ(0);
	background-color: #2B2826;
	cursor: pointer
}

.place-list .place-img:after {
	padding-top: 140%
}

.place-list .place-img {
	transition: opacity .4s cubic-bezier(.4, 0, .2, 1)
}

.place-list .place-item:hover .place-img {
	opacity: .65
}

.place-list .place-item .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6em 2em 2em;
	z-index: 2;
	background-image: linear-gradient(to top, rgba(30, 30, 34, .75)0%, rgba(30, 30, 34, 0)100%)
}

.place-list .place-item .place-title {
	color: #fff;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0
}

.place-list .place-item .place-title:after {
	content: "";
	display: block;
	width: 40px;
	height: 1px;
	background-color: #e17306;
	margin-top: .5em
}

/*====================*/
.page-header {
	position: relative;
	padding-top: 100px;
	padding-bottom: 0;
	margin: 0;
	border: none;
	background-color: #2B2826
}

.page-header-bg {
	opacity: .35;
	background-position: center top !important
}

.page-header-content {
	color: #fff;
	padding: 2em 0 2em
}

.page-header .main-title {
	margin: 0
}

.page-header .text-title {
	color: #fff;
	margin: 0 0 .72em
}

.page-header .planning-header {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.action-btn {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.action-btn .btn {
	flex-grow: 1;
	-webkit-flex-grow: 1;
	margin: 0
}

.action-btn .btn + .btn {
	margin-left: 1em
}

.action-btn .btn-save,
.action-btn .btn-save:focus,
.action-btn .btn-save:focus:active {
	color: #fff
}

.planning-info .list-bordered {
	margin-top: 1em
}

/*====================*/
.header-action {
	padding: 2em 0;
	*background-color: #2B2826;
	background-color: #676C56;
	color: #fff
}

.header-action .text-title {
	color: #fff;
	margin: 0
}

.header-action .add-to-plan .amount {
	color: #fff
}

.header-action a.close {
	color: rgba(255, 255, 255, .5);
	margin-left: 2em;
	text-shadow: none;
	opacity: 1
}

.filter-header {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	margin-bottom: 2em
}

.filter-header .form-control {
	width: auto
}

.filter-header .form-group {
	margin-bottom: 0
}

.filter-header .form-group + .form-group {
	margin-left: 1em
}

.filter-header .form-control {
	background-color: transparent;
	font-size: .714em;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 36px;
	background-size: 3em;
	font-weight: 600
}

.filter-header select.form-control,
.filter-header .filter-search .form-control {
	padding-right: 36px
}

.filter-header .filter-search {
	min-width: 300px
}

.filter-header .filter-search .form-control {
	width: 100%
}

.filter-header .filter-search .btn-search {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 36px;
	line-height: 36px;
	background-color: transparent
}

/*====================*/
.home-plan + .home-plan {
	padding-top: 0
}

.home-plan .swiper-slide {
	margin-top: 0 !important
}

.plan-item {
	position: relative;
	margin-bottom: 1em;
	transition: box-shadow .4s cubic-bezier(.4, 0, .2, 1)
}

.plan-item:hover {
	box-shadow: 0 8px 20px -8px  rgba(0, 0, 0, .075)
}

.plan-item:before,
.plan-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
	pointer-events: none;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.plan-item:before {
	border-right: 2px solid #e17306;
	border-left: 2px solid #e17306;
	transform: scaleY(0);
	transform-origin: bottom
}

.plan-item.selected:before {
	transform: scaleY(1);
	transform-origin: top
}

.plan-item:after {
	border-bottom: 2px solid #e17306;
	border-top: 2px solid #e17306;
	transform: scaleX(0);
	transform-origin: right
}

.plan-item.selected:after {
	transform: scaleX(1);
	transform-origin: left
}

.plan-item .plan-img:after {
	padding-top: 56.25%
}

.plan-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(43, 40, 38, .6);
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	-webkit-justify-content: center;
	opacity: 0;
	transition: opacity .25s cubic-bezier(.4, 0, .2, 1)
}

.plan-item.selected .overlay,
.plan-item:hover .overlay {
	opacity: 1
}

.plan-item .btn-select-activity,
.plan-item .btn-select-activity:hover,
.plan-item .btn-select-activity:focus,
.plan-item .btn-select-activity:focus:active {
	background-color: transparent;
	color: #fff;
	border-color: #fff
}

.plan-item.selected .btn-select-activity {
	border-color: transparent;
	background-color: #e17306
}

.plan-item .plan-info {
	padding: 1.5em 2em;
	background-color: #fff
}

.plan-item .plan-info ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.plan-item .plan-info ul li + li {
	margin-top: .25em
}

.plan-item .plan-info ul li i {
	margin-right: .86em;
	font-size: .86em;
	color: #a2afc5;
	display: none
}

.plan-item .plan-title {
	font-weight: normal;
	font-size: 1.2em;
	height: 2.7em;
	overflow: hidden;
	margin: 0 0 1em
}

.plan-item .plan-footer {
	padding: 1.5em 2em;
	background-color: #fff;
	border-top: 1px solid #E8EBF0
}

.price {
	line-height: 1.35em
}

.price .amount {
	font-family: "eina";
	letter-spacing: .25px;
	font-weight: 700
}

.price .last-price {
	font-weight: normal;
	font-size: .8em;
	letter-spacing: .5px;
	text-decoration: line-through;
	color: #a2afc5
}

.plan-item .plan-footer .btn {
	margin-left: auto;
	padding: 0;
	width: 36px;
	line-height: 34px;
	border-radius: 50%
}

/*====================*/
.modal-plan-details .modal-panel {
	max-width: 100%
}

.modal-plan-details .panel-body {
	padding: 2em
}

.modal-plan-details .panel-body > .row {
	display: flex;
	display: -webkit-flex
}

.modal-plan-img .box-img:after {
	padding-top: 65%
}

.modal-plan-img .swiper-button-prev,
.modal-plan-img .swiper-button-next {
	width: 36px;
	height: 36px
}

.modal-plan-img .swiper-button-prev {
	left: 1em
}

.modal-plan-img .swiper-button-next {
	right: 1em
}

.modal-plan-details .tab-control {
	margin-top: 1em
}

.modal-plan-details .nav-tabs {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between
}

.modal-plan-details .nav-tabs li {
	float: none;
	display: inline-block
}

.modal-plan-details .nav-tabs li a {
	padding: 0;
	display: inline-block
}

.modal-plan-details .nav-tabs .amount {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
	margin-top: -2px;
	font-size: .714em;
	width: 18px;
	height: 18px;
	line-height: 17px;
	border-radius: 50%;
	text-align: center;
	background-color: #e17306;
	color: #fff
}

.scroll-content {
	max-height: 580px;
	min-height: 580px;
	overflow-x: hidden !important
}

.modal-plan-details .scroll-content {
	position: absolute;
	height: 100%;
	max-height: none;
	min-height: auto;
	left: 1em;
	right: 1em;
	top: 0
}

.plan-content + .plan-content {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid #E8EBF0
}

.modal-plan-details .plan-info ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.modal-plan-details .plan-info ul li + li,
.check-list li + li {
	margin-top: .25em
}

.check-list li {
	position: relative;
	padding-left: 1.5em
}

.check-list li i {
	font-size: .86em;
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 0
}

.modal-plan-details #map-canvas {
	width: 100%;
	height: 260px;
	margin: 1em 0
}

.list-activities {
	position: relative;
	margin: 0 0 2em
}

.list-activities-li {
	position: relative;
	display: block;
	padding-left: 2.25em
}

.list-activities-li-before {
	content: "";
	position: absolute;
	top: 5px;
	left: 1px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 1px solid #e17306;
	background-color: #F5F7FA;
	z-index: 2
}

.act-explore + .act-explore {
	margin-top: 4em
}

.act-explore .list-activities {
	margin-bottom: 0
}

.act-explore .list-activities-li-before {
	top: 10px;
	transform: translateY(-50%);
	margin-top: 2px
}

.act-explore .list-activities > li + li,
.act-explore .list-activities > li:last-child .panel {
	margin: 0
}

.act-explore .list-activities-li-active-before {
	background-color: #e17306 
}

.act-explore .list-activities-before {
	display: none;
	top: 2.25em;
	bottom: 2.25em
}

.act-explore .list-activities-li-after {
	content: "";
	position: absolute;
	top: 1em;
	left: .5em;
	width: 1px;
	bottom: -1em;
	background-color: #e17306
}

/*
.act-explore .list-activities li + li:after {
	top: -1em
}
*/

.act-explore .list-activities li:last-child::after {
	display: none
}

.act-explore .trip-destination .box-img {
	width: 120px;
	margin: 1.5em 0 1.5em 1.5em
}

.act-explore .review-explore-before {
	background-color: #e17306;
	animation: reviewExp 1s cubic-bezier(.4, 0, .2, 1) infinite
}

@keyframes reviewExp {
	0% {
		box-shadow: none
	}
	50% {
		box-shadow: 0 0 0 .5em rgba(255, 103, 0, .35)
	}
	100% {
		box-shadow: 0 0 0 1em rgba(255, 103, 0, 0)
	}
}

.act-explore .act-time {
	font-family: "eina";
	font-weight: normal;
	font-size: 1.2em;
	color: #2B2826
}

.list-bordered > li + li {
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px solid #E8EBF0
}

.list-inline {
	margin: 0
}

.list-inline li {
	padding: 0
}

.list-inline.list-bordered li + li {
	padding-top: 0;
	margin-top: 0;
	border-top: none
}

.list-inline.list-bordered li + li:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1px;
	background-color: #e17306;
	vertical-align: middle;
	margin-left: .714em;
	margin-right: 1em;
	margin-top: -2px
}

.timeline-steps {
	margin: 0 0 4em;
	text-align: center;
	margin-top: calc(-5em - 7px)
}

.timeline-steps .step-item {
	position: relative;
	transform: translateZ(0);
	padding: 0
}

.timeline-steps .step-item:before,
.timeline-steps .step-item:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 50%;
	height: 1px;
	background-color: #D8DDE6;
	z-index: -1
}

.timeline-steps .step-item:first-child::before,
.timeline-steps .step-item:last-child::after {
	display: none
}

.timeline-steps .step-item:before {
	left: 0
}

.timeline-steps .step-item:after {
	right: 0
}

.timeline-steps .step {
	position: relative;
	transform: translateZ(0);
	display: inline-block;
	width: 40px;
	line-height: 40px;
	background-color: #fff;
	box-shadow: 0 0 24px rgba(43, 40, 38, .2);
	text-align: center;
	border-radius: 50%
}

.timeline-steps .step-item.active .step {
	background-color: #e17306;
	*box-shadow: 0 0 24px rgba(255, 103, 0, .6);
	color: #fff
}

.timeline-steps .step:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 103, 0, .35);
	opacity: 0;
	z-index: -1
}

.timeline-steps .step-item.active .step:before {
	animation: pulse 1s cubic-bezier(.4, 0, .2, 1) infinite
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0
	}
	50% {
		transform: scale(1.35);
		opacity: 1
	}
	100% {
		transform: scale(1.7);
		opacity: 0
	}
}

.timeline-days {
	margin-bottom: 2em
}

.timeline-days .nav-tabs {
	position: relative;
	transform: translateZ(0);
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	white-space: nowrap;
	overflow: auto
}

.timeline-days .nav-tabs li + li {
	margin-left: .6em
}

.timeline-days .nav-tabs li + li:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	width: 120%;
	right: 100%;
	height: 1px;
	background-color: #D8DDE6;
	z-index: -1
}

.timeline-days .nav-tabs li {
	position: relative;
	float: none;
	display: inline-block
}

.timeline-days .nav-tabs li a {
	font-size: .714em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .06em;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	-webkit-justify-content: center;
	line-height: 1.2em;
	height: 42px;
	text-align: center;
	padding: 0 2em;
	background-color: #E8EBF0;
	color: inherit;
	border-radius: 2px;
	transition: background-color .4s cubic-bezier(.4, 0, .2, 1),
				color .4s cubic-bezier(.4, 0, .2, 1)
}

.timeline-days .nav-tabs li a:hover {
	color: #2B2826
}

.timeline-days .nav-tabs li.active a {
	background-color: #2B2826;
	color: #fff
}

.list-trip:last-child {
	margin-bottom: 2em
}

.list-trip .panel-trip {
	margin: 0
}

.trip-destination {
	max-height: 200px
}

.trip-destination > a {
	color: inherit !important
}

.trip-destination .box-img {
	flex-grow: 0;
	-webkit-flex-grow: 0;
	width: 200px
}

.trip-destination .panel-body {
	flex-grow: 1;
	-webkit-flex-grow: 1
}

/*
.trip-destination .trip-destination-info .info,
.trip-destination .trip-destination-info .footer {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	padding: 0 2em
}

.trip-destination .trip-destination-info .info {
	height: 150px
}
*/

.trip-destination .footer {
	margin-top: 1.25em
}

.trip-destination .text-title {
	margin: 0
}

.list-trip .trip-footer {
	position: relative;
	z-index: 2;
	transform: translateZ(0);
	padding: 3em 0
}

.list-trip .trip-footer .timeline {
	position: absolute;
	top: 2.25em;
	bottom: 2.25em;
	left: 100px;
	width: 1px;
	background-color: #e17306
}

.list-trip .trip-footer .timeline:before,
.list-trip .trip-footer .timeline:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -1px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #F5F7FA;
	border: 1px solid #e17306;
	z-index: 2
}

.list-trip .trip-footer .timeline:before {
	top: -.86em
}

.list-trip .trip-footer .timeline:after {
	bottom: -.86em
}

.list-trip .action-footer span {
	margin-right: 1.75em
}

.list-trip .action-footer img {
	width: 1.2em;
	display: inline-block;
	vertical-align: middle;
	margin-right: .714em;
	margin-top: -4px
}

.list-trip .trip-footer .panel-trip {
	margin-left: 200px
}

.list-transports .trip-destination {
	cursor: pointer
}

.list-transport {
	margin-bottom: 1em
}

.list-transport .trip-destination > .box-img {
	width: 120px;
	margin: 1.5em 0 1.5em 1.5em
}

.list-transport .content .text-title {
	margin: 0
}

.list-transport .transport-schedule {
	background-color: #fff
}

.collapse-wrapper .panel-body {
	border-top: 1px solid #E8EBF0
}

.collapse-wrapper .row > [class^="col-"] {
	margin-bottom: 1em
}

.list-transport .btn {
	width: 140px
}

.form-wrapper + .form-wrapper {
	border-top: 1px solid #D8DDE6;
	padding-top: 3em;
	margin-top: 3em
}

.form-wrapper .main-title {
	margin-bottom: 1.75em
}

.form-wrapper .panel,
.form-wrapper p {
	margin-bottom: 1.2em
}

.form-wrapper ol {
	padding-left: 1.7em;
	margin-bottom: 1.2em;
	color: #2B2826 
}

.list-payment {
	margin: 0 0 1em !important
}

.list-payment label {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	background-color: #EDF0F5;
	color: inherit;
	padding: 1.5em 2em
}

.list-payment label img {
	width: 50px;
	margin-right: 1.5em
}

.list-payment label:before,
.list-payment label:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
	width: auto;
	height: auto;
	background-color: transparent;
	border: none;
	border-radius: 0;
	pointer-events: none;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.list-payment label:before {
    border-right: 2px solid #e17306;
    border-left: 2px solid #e17306;
    transform: scaleY(0);
    transform-origin: bottom
}

.list-payment label:after {
    border-bottom: 2px solid #e17306;
    border-top: 2px solid #e17306;
    transform: scaleX(0);
    transform-origin: right;
}

.list-payment input:checked + label::before {
	transform: scaleY(1);
	transform-origin: top
}

.list-payment input:checked + label::after {
	transform: scaleX(1);
	transform-origin: left
}

.list-payment .text-wrapper {
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.bank-option {
	margin-top: 2em
}

.bank-option p {
	margin: 0;
	font-size: .86em
}

.bank-option .radio {
	margin: 0 0 1em !important
}

.bank-option label {
	padding: .5em 1.25em .5em 3.5em;
	background-color: #fff;
	border-radius: 2px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.bank-option label:before,
.bank-option label:after {
	top: 50%;
	transform: translateY(-50%);
	left: 1.5em
}

.bank-option label:after {
	transform: translateY(-50%) scale(0);
	left: calc(1.5em + 5px)
}

.bank-option input[type="radio"]:checked + label::after {
	transform: translateY(-50%) scale(1)
}

.bank-option .bank-icon {
	margin-left: auto
}

.bank-option .bank-icon img {
	display: inline-block;
	vertical-align: middle;
	width: 46px
}

.facility-icon span {
	display: inline-block
}

.facility-icon span.more {
	font-size: .75em;
	width: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	background-color: #EDF0F5;
	vertical-align: middle
}

.facility-icon span + span {
	margin-left: .72em
}

.facility-icon img {
	width: 1em;
	height: auto;
	vertical-align: middle
}

.facility-icon.list img {
	margin-right: .86em;
	margin-top: -3px;
	position: absolute;
	top: 8px;
	left: 0
}

.facility-icon.list span {
	display: block;
	position: relative;
	padding-left: 2em
}

.facility-icon.list span + span {
	margin-left: 0;
	margin-top: .5em
}

.accommodation-detail {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-left: 2em !important
}

.accommodation-detail .accommodation-info {
	margin: 3em 0;
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.accommodation-detail .facility-icon {
	margin: 0 -1em
}

.accommodation-detail .facility-icon:before,
.accommodation-detail .facility-icon:after {
	content: "";
	display: table;
	clear: both
}

.accommodation-detail .facility-icon span {
	float: left;
	width: 50%;
	padding: 0 1em;
	margin-bottom: .5em
}

.accommodation-detail .facility-icon span img {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: .86em
}

.accommodation-detail .facility-icon span + span {
	margin-left: 0
}

.accommodation-detail .list-bordered li + li {
	margin-top: 2em;
	padding-top: 2em
}

#room-availability {
	padding-top: 2em
}

.list-rooms .trip-destination {
	cursor: pointer
}

/*====================*/
.tab-slide-control {
	overflow: visible;
	margin-bottom: 2em
}

.tab-slide-control .swiper-wrapper {
	transform: none !important;
	white-space: nowrap;
	overflow: auto
}

.tab-slide-control .swiper-slide {
	width: auto;
	line-height: 42px;
	cursor: pointer;
	transition: color .4s cubic-bezier(.4, 0, .2, 1)
}

.tab-slide-control .swiper-slide + .swiper-slide {
	margin-left: 2em
}

.tab-slide-control .swiper-slide-active {
	color: #e17306
}

.tab-slide-control .swiper-slide:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #e17306;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.tab-slide-control .swiper-slide-active:after {
	transform: scaleX(1);
	transform-origin: left
}

.main-about .content-wrap {
	padding: 8em 0
}

.main-about ul li + li {
	margin-top: 4em
}

.main-about .main-title {
	position: relative;
	transform: translateZ(0)
}

.main-about .main-title:before {
	display: none
}

.main-about .main-title .text-title {
	font-weight: 700
}

.main-about .main-title span {
	font-size: 7em;
	line-height: 1em;
	font-weight: 900;
	position: absolute;
	bottom: 0;
	left: -.35em;
	z-index: -1;
	color: #e17306;
	opacity: .3
}

.main-about .about-img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%
}

.main-contact .contact-form {
	padding-right: 6em;
	border-right: 1px solid #eee
}

.plan-destination .icon {
	width: 1.35em;
	margin-right: 1.25em
}

.plan-destination h4 {
	margin: 0
}

.plan-destination .list-activities {
	margin-top: 1.25em;
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.plan-destination .list-activities li {
	padding-left: 2.75em
}

.list-airport .airport-info {
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.list-airport .facility-icon.list span {
	font-size: .86em
}

.list-airport .facility-icon.list span + span {
	margin-top: 0
}

.list-step li {
	position: relative;
	transform: translateZ(0);
	padding-left: 3.25em
}

.list-step li + li {
	margin-top: 2em
}

.list-step li:after {
	content: "";
	position: absolute;
	left: 16px;
	top: 0;
	height: calc(100% + 2em);
	width: 1px;
	z-index: -1;
	background-color: #e17306
}

.list-step li:last-child::after {
	display: none
}

.list-step .step {
	position: absolute;
	top: -4px;
	left: 0;
	width: 32px;
	line-height: 30px;
	height: 32px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #e17306;
	background-color: #fff;
	color: #e17306
}

.list-step .panel {
	margin: 1em 0
}

/*==========*/
.profile-header {
	padding: 4em 0;
	position: relative;
	z-index: 2
}

.profile-header .user-avatar .box-img {
	min-width: 70px
}

.profile-header .user-avatar .user-name {
	font-size: 1.5em;
	font-weight: normal;
	color: #fff;
	margin-bottom: .35em
}

.profile-header .user-avatar .user-email {
	color: #fff
}

.profile-header .btn {
	margin-left: auto
}

.main-dashboard .sidebar-nav {
	height: 100%;
	position: relative;
	transform: translateZ(0);
	margin-right: 2em
}

.main-dashboard .sidebar-nav:after {
	content: "";
	position: absolute;
	top: -4em;
	bottom: -4em;
	width: 100%;
	*background-image: linear-gradient(to right, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, .25)50%, rgba(255, 255, 255, 1)100%);
	box-shadow: inset -20px 0 30px -10px rgba(0, 0, 0, .065);
	z-index: -1
}

.sidebar-menu li a {
	color: #2B2826;
	display: block;
	line-height: 42px
}

.sidebar-menu li span {
	font-weight: 600;
	text-transform: uppercase;
	font-size: .82em;
	letter-spacing: .5px
}


.sidebar-menu li.active a,
.sidebar-menu li a:hover {
	color: #e17306
}

.sidebar-menu li i {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: .86em;
	font-weight: normal;
	font-size: 1.15em;
	color: #7B828F
}

.sidebar-menu li.active i {
	color: #2B2826
}

.main-dashboard {
	display: flex;
	display: -webkit-flex
}

.main-dashboard .sidebar {
	padding-right: 0
}

.main-dashboard .profile-content {
	padding-left: 0
}

.main-dashboard .profile-content .container-fluid {
	min-height: 480px;
	padding: 0
}

.main-dashboard .heading-toolbar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    margin-bottom: 2em
}

.main-dashboard .heading-toolbar a {
    color: #a2afc5
}

.main-dashboard .heading-toolbar a:hover {
    color: #2B2826 
}

.main-dashboard .heading-toolbar .icon {
    display: inline-block;
    vertical-align: middle;
    width: .8em;
    margin-right: .5em;
    margin-top: -2px
}

.main-dashboard .heading-toolbar a + a {
    margin-left: 1.25em
}

.main-dashboard .heading-toolbar .toolbar-right {
    margin-left: auto
}

.panel-profile .user-avatar {
	margin: .5em 0 2em
}

.panel-profile .user-avatar .box-img {
	border-radius: 2px;
	width: 100px
}

.panel-profile .change-picture input {
	display: none
}

.panel-profile .change-picture label {
	font-weight: normal;
	margin: 0;
	color: #e17306;
	cursor: pointer;
	transition: color .4s cubic-bezier(.4, 0, .2, 1)
}

.panel-profile .change-picture label:hover,
.panel-profile .change-picture label:focus,
.panel-profile .change-picture label:focus:active {
	color: #A15100
}

.list-itinerary .panel > .panel-heading,
.list-booking .panel > .panel-heading {
	padding: 1.5em 2em;
	background-color: #676C56;
	color: #fff
}

.list-itinerary .panel > .panel-heading .text-label,
.list-itinerary .panel > .panel-heading p {
	color: #fff;
	margin: 0
}

.list-itinerary .panel .row + .row,
.list-booking .panel .row + .row {
    margin-top: 1.5em
}

.list-itinerary .panel .btn,
.list-booking .panel .btn {
	line-height: 1.25em;
	padding: 1em 1.5em
}

.list-itinerary .panel .link {
    float: right
}

.list-itinerary .panel .help-block,
.list-booking .panel .help-block {
    margin: 0
}

.list-booking + .list-booking {
    margin-top: 3em
}

.list-booking .price {
    float: right
}

.list-booking .booking-status .icon,
.booking-detail .booking-status .icon {
    display: inline-block;
    width: 1.2em;
    margin-right: .5em;
    vertical-align: middle;
    margin-top: -2px
}

.list-booking .booking-nav,
.booking-detail .booking-status,
.booking-detail .btn {
    margin-left: auto
}

.list-booking .booking-nav a + a {
    margin-left: 1.5em
}

.booking-detail .list-transport {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center
}

.booking-detail .list-transport .box-img {
    min-width: 70px;
    margin-right: 1em
}

.booking-detail .list-transport h5 {
    margin: 0
}

.main-dashboard .tab-control {
    margin-bottom: 2em
}

.main-dashboard .tab-control .nav-tabs {
    display: flex;
    display: -webkit-flex;
    white-space: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #D8DDE6
}

.main-dashboard .tab-control .nav-tabs li {
    float: none
}

.main-dashboard .tab-control .nav-tabs li a {
    padding: 0
}

.main-dashboard .tab-control .nav-tabs li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #e17306;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s cubic-bezier(.4, 0, .2, 1)
}

.main-dashboard .tab-control .nav-tabs li.active a:after {
    transform: scaleX(1);
    transform-origin: left
}

.main-dashboard .tab-control .nav-tabs .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
    margin-top: -2px;
    width: 1.2em
}

.list-traveller {
    margin-top: 2em
}

.list-traveller .traveller {
    display: flex;
    display: -webkit-flex;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 1em
}

.list-traveller .traveller .icon {
    position: relative;
    width: 60px;
    text-align: center;
    background-color: #e17306;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.list-traveller .traveller .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
    font-size: 1.2em
}

.list-traveller .traveller-info {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    padding: 1em 1em 1em 1.2em;
    min-height: 80px
}

.list-traveller .traveller-info .traveller-name {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    margin: 0;
    padding-right: 1em;
    color: #2B2826
}

.list-traveller .traveller-action {
    position: relative
}

.list-traveller .traveller-action > a {
    display: block;
    width: 32px;
    line-height: 32px;
    transform: rotate(90deg);
    text-align: center;
    background-color: #fff;
    color: inherit;
    border-radius: 50%;
    transition: background-color .4s cubic-bezier(.4, 0, .2, 1)
}

.list-traveller .traveller-action > a i {
    line-height: 1;
    display: inline-block;
    font-size: .86em;
    vertical-align: middle;
    margin-top: -5px
}

.list-traveller .traveller-action > a:hover,
.list-traveller .traveller-action > a:focus,
.list-traveller .traveller-action > a:focus:active {
    background-color: #E8EBF0
}

.list-traveller .add-traveller {
    margin-bottom: 1em
}

.list-traveller .add-traveller,
.list-traveller .add-traveller:focus,
.list-traveller .add-traveller:focus:active {
    line-height: 76px
}

.list-traveller .add-traveller i {
    font-size: 1.2em;
    margin-right: .5em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px
}

/*====================*/
.newsletter {
	background-color: #EDF0F5
}

.newsletter .btn-submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 56px;
	line-height: 54px;
	background-color: transparent;
	font-size: 1.2em;
	color: #e17306
}

.newsletter .form-control {
	padding-right: 56px
}

.newsletter .social-icon {
	margin-top: 3em;
	text-align: center
}

.main-footer {
	background-color: #2B2826;
	color: #fff
}

.main-footer .logo-footer {
	display: block;
	width: 80px;
	height: 45px;
	background-image: url(../images/logo_pigijo_white.svg);
	background-size: contain;
	background-repeat: no-repeat
}

.main-footer .footer-wrap:nth-child(2) {
	text-align: center
}

.main-footer .footer-wrap:last-child {
	text-align: right
}

.main-footer .copyright {
	color: rgba(255, 255, 255, .35)
}

.main-footer .back-to-top i {
	display: inline-block;
	font-size: .714em;
	margin-left: 1em
}

/*====================*/
#modal-proceed .modal-panel,
.modal-proceed .modal-panel,
#choose-transport .modal-panel {
	max-width: 600px;
	text-align: center
}

#modal-proceed .modal-panel .panel-body,
.modal-proceed .modal-panel .panel-body,
#choose-transport .modal-panel .panel-body {
	padding: 2.25em 3em
}

#choose-transport .modal-panel .panel-heading {
	padding: 2.25em 3em 0
}

.choose-transport {
	margin-bottom: 2em
}

.choose-transport .radio label:before,
.choose-transport .radio label:after {
	display: none
}

.choose-transport .radio label {
	display: block;
	padding: 2.75em 2em 2em;
	border: 2px solid #eee;
	border-radius: 2px;
	transition: border-color .4s cubic-bezier(.4, 0, .2, 1)
}

.choose-transport .radio input:checked + label {
	border-color: #e17306
}

.choose-transport .radio img {
	width: 42px;
	display: block;
	margin: 0 auto 1em
}

.choose-transport .radio input:checked + label span {
	color: #e17306
}

/*====================*/
.modal-panel.main-login {
	max-width: 960px
}

.modal-panel.main-login .content-row {
	margin: 0;
	display: flex;
	display: -webkit-flex
}

.modal-panel.main-login .login-bg,
.modal-panel.main-login .login-form {
	padding: 0;
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.modal-panel.main-login .login-bg {
	position: relative;
	transform: translateZ(0);
	min-height: 630px
}

.modal-panel.main-login .login-bg:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(-25deg, #e17306 0%, #FF2E5B 100%);
	opacity: .65
}

.modal-panel.main-login .bg-title {
	position: absolute;
	transform: translateZ(0);
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4em;
	z-index: 2
}

.modal-panel.main-login .bg-title .text-title {
	color: #fff;
	font-size: 2.25em;
	margin: 0
}

.modal-panel.main-login .login-form {
	padding: 3.25em 4em;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center
}

.modal-panel.main-login .login-form .content {
	flex-grow: 1;
	-webkit-flex-grow: 1
}

.modal-panel.main-login .checkbox-wrapper {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-box-align: center;
	margin-bottom: 2em
}

.modal-panel.main-login .checkbox-wrapper .link {
	margin-left: auto
}

.modal-panel.main-login .or {
	position: relative;
	transform: translateZ(0);
	margin: 1em 0;
	text-align: center
}

.modal-panel.main-login .or:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #E8EBF0;
	z-index: -1
}

.modal-panel.main-login .or span {
	display: inline-block;
	padding: 0 1em;
	background-color: #F5F7FA
}

.modal-panel.main-login .footer {
	text-align: center;
	margin-top: 2em
}

.circle-start {
	height: 16px;
	width: 16px;
	background-color:#e17306;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: -8px;
	margin-left: -8px;
  }
.circle-activity {
	height: 16px;
	width: 16px;
	background-color:white;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #e17306;
  }